.order-filter {
  display: inline-block;
  align-items: center;
  margin: 48px 0 24px;
}

.order-filter-period {
  display: flex;
  align-items: center;
}

.order-filter-period__tab {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.order-filter-period__tab__button:hover {
  background-color: #497539;
  color: #ffffff;
}
.order-filter-period__tab__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 61px;
  height: 30px;
  border-radius: 4px;
  background-color: #f3f3f3;
  font-size: 13px;
  color: #6e6e6e;
}

.order-filter-period__tab__button {
  padding: 0;
  border: 0;
  background: none;
}
.order-filter-period__tab__button {
  appearance: none;
  border: 0;
  cursor: pointer;
  background: none;
}
.order-filter-period__tab__button:last-child {
  margin-right: 0;
}

.order-filter-period__input {
  position: relative;
  padding: 0 10px;
  width: calc(100% - 20px);
  height: 30px;
  font-size: 13px;
  color: #6e6e6e;
  text-align: left;
  appearance: none;
  z-index: 10;
}

input {
  color: #000;
  vertical-align: middle;
  border: 0;
  border-radius: 0;
  outline: none;
}

.order-filter-period__date {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 276px;
}
.order-filter-period__input {
  z-index: 0;
}
