@charset "UTF-8";

div#m-container {
  display: block;
  max-width: 450px;
  width: 80%;
  margin: 10px auto;
  
}

.user-form-center {
  text-align: center;
}

.foruserform h1 {
  color: #292929;
  font-size: 48px;
  letter-spacing: -3px;
  text-align: center;
  margin: 30px 0 30px 0;
  transition: 0.2s linear;
}

.links {
  list-style-type: none;
  padding: 0%;
}
.links li {
  display: inline-block;
  margin: 0;
  transition: 0.2s linear;
}
.links li:nth-child(2) {
  opacity: 0.6;
}
.links li:nth-child(2):hover {
  opacity: 1;
}
.links li:nth-child(3) {
  opacity: 0.6;
  float: right;
}
.links li:nth-child(3):hover {
  opacity: 1;
}
.links li a {
  text-decoration: none;
  color: #0f132a;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
}

.foruserform {
  width: 75%;
  max-width: 680px;
  margin: 40px auto 10px;
}

.input__block {
  margin: 0px 20px 20px 20px;
  display: block;
  position: relative;
  border: 1px solid #3a3a3a57;
  border-radius: 50px;
}

.m-input-block {
  margin: 10px;
  position: relative;
  border: 1px solid #3a3a3a57;
  border-radius: 50px;
}

.m-name {
  text-align: left;
  margin-left: 25px;
  font-weight: bold;
  font-size: 14px;
}

.first-input__block::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 50px;
  display: block;
  width: 0;
  height: 0;
  background: transparent;
  transition: 0.2s linear;
}

.signup-input__block::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 150px;
  display: block;
  width: 0;
  height: 0;
  background: transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgba(15, 19, 42, 0.1);
  transition: 0.2s linear;
}

.input-non {
  max-width: 680px;
}

.mf input {
  display: block;
  width: 90%;
  max-width: 680px;
  height: 50px;
  margin: 0 auto;
  padding: 0 0 0 15px;
  font-size: 14px;
  background: none;
}
.mf input:focus,
.mf input:active {
  outline: none;
  border: none;
  color: #0f132a;
}
.mf input.repeat__password {
  opacity: 0;
  display: none;
  transition: 0.2s linear;
}

.signin__btn {
  background: #5b5b5b;
  color: white;
  display: block;
  width: 35%;
  max-width: 680px;
  height: 50px;
  border-radius: 8px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  transition: 0.2s linear;
}

.signin__btn:hover {
  box-shadow: 0 0 0 rgba(233, 30, 99, 0);
}

.signup__btn {
  background: #5b5b5b;
  color: white;
  display: block;
  width: 35%;
  max-width: 680px;
  height: 50px;
  border-radius: 8px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  transition: 0.2s linear;
}
.signup__btn:hover {
  box-shadow: 0 0 0 rgba(233, 30, 99, 0);
}

.modify__btn {
  background: #5b5b5b;
  color: white;
  display: block;
  width: 35%;
  max-width: 680px;
  height: 50px;
  border-radius: 8px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  transition: 0.2s linear;
}
.modify__btn:hover {
  box-shadow: 0 0 0 rgba(233, 30, 99, 0);
}

.remove__btn {
  border: none;
  background: none;
  color: #4040407e;
  cursor: pointer;
  height: 10px;
  padding: 10px;
  font-size: 12px;
  margin-left: 300px;
}

.find__btn {
  border: none;
  background: none;
  color: #6d6c6c;
  cursor: pointer;
  height: 10px;
  padding: 10px;
  font-size: 13px;
}

.separator {
  display: block;
  margin: 10px auto 10px;
  text-align: center;
  height: 40px;
  position: relative;
  background: transparent;
  color: rgba(15, 19, 42, 0.4);
  font-size: 13px;
  width: 90%;
  max-width: 680px;
}
.separator::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  background: rgba(15, 19, 42, 0.2);
  height: 1px;
  width: 45%;
}
.separator::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  background: rgba(15, 19, 42, 0.2);
  height: 1px;
  width: 45%;
}

.button-container {
  display: flex;
  justify-content: center;
}

.sns-login-button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
