

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.ship-table th,
.pay-table th{
  vertical-align: middle;
  padding: 15px 5px;
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.addrList {
  padding: 0.4rem 0.75rem;
  font-size: 100%;
  font-weight: 400;
  color: var(--bs-body-color);
  background-color: var(--bs-tertiary-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.order-product-tbody td {
  font-size: 15px;
}

.buttTxt {
  display: inline-block;
  width: 50px;
  border: 1px solid rgb(222, 221, 221);
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--bs-tertiary-bg);
  transition: all 0.3s;
}

.order-product-tbody img{
  width: 5vw;
}

.buttTxt:hover {
  background-color: rgb(226, 226, 226);
}



@media all and (min-width: 270px) and (max-width: 1000px) {
  .order-product-tbody td {
    font-size: 9px;
  }
  .order-product-tfoot td {
    font-size: 9px;
  }

  .order-product-tbody > tr > td:nth-child(2) {
    width: 30vw;
  }
  .order-product-tbody {
    font-size: 9px;
  }

  .order-table {
    width: 100%;
  }

  .order-product-tbody {
    font-size: 9px;
  }
 
  .order-table th {
    font-size: 9px;
  }

  .order-product-tbody img{
    width: 80px;
    height: fit-content;
  }
  .d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
}

