@charset "UTF-8";
.single-product .img-fluid{
	width: 255;
	height: 255;
}

.form-control:disabled, .form-control[readonly] {
     background-color: #fff;
    
}
.media .d-flex .cartImg{
	width: 150;
	height: 150;
}

.hover-opacity {
			td:hover {
				opacity: 0.7;
				cursor: pointer;
			}
			td:active {
				opacity: 0.5;
			}
}