<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.shop.mapper.OrderMapper">
	<resultMap type="com.itwill.shop.order.Order"
		id="orderResultMap" autoMapping="true">
		<id column="o_no" property="oNo" />
		<collection property="orderItemList"
			ofType="com.itwill.shop.order.OrderItem" autoMapping="true">
			<id column="oi_no" property="oiNo" />
			<association property="productOption"
				javaType="com.itwill.shop.product.ProductOption" autoMapping="true">
				<id column="po_no" property="poNo" />
				<association property="product"
					javaType="com.itwill.shop.product.Product" autoMapping="true">
					<id column="p_no" property="pNo" />
				</association>
			</association>
		</collection>
	</resultMap>
</mapper>


