<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.shop.mapper.ReviewMapper">
    <resultMap type="com.itwill.shop.review.Review" id="reviewResultMap" autoMapping="true">
        <id column="r_no" property="rNo"/>
        <association property="user" javaType="com.itwill.shop.user.User" autoMapping="true">
            <id column="u_Id" property="uId"/>
        </association>
        <association property="product" javaType="com.itwill.shop.product.Product" autoMapping="true">
            <id column="p_no" property="pNo"/>
        </association>
    </resultMap>
</mapper>
